# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
py/authorCSV.csv
py/bookCSV.csv
py/zipSize.csv
*.csv

/py/vyperFilesGenerated/*