@charset "utf-8";
/* CSS Document */

/*Blue Color Codes!

Lightest
	rgb(156, 217, 255)
	rgb(104, 185, 255)
	rgb(71, 166, 255)
	rgb(57, 157, 255)
Darkest

*/

@font-face{
	font-family: 'Roboto', sans-serif;
	font-family: 'Raleway', sans-serif;
}

ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

ul.bullet{
	list-style-type:circle;
	margin: .75em;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-right: 2em;
	padding-left: 2em;
}

ul.itemsList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

ul.itemsList li{
	background-color: #f1f1f1;
	padding: 10px;
	margin: 10px;
	text-align: center;
}

h1 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
	text-align: center;
	font-size: 2em;
	font-family: 'Raleway';
}

h2 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
	text-align: center;
	font-size: 2em;
	font-family: 'Raleway';
}

#logosmall {
    margin-left: auto;
    margin-right: auto;
    height: 3em;
	width: auto;
	vertical-align: middle;
}

p {
	font-size: 1em;
}

body {
	margin: 0;
	background-color: rgb(156, 217, 255);
	font-family: 'Roboto', sans-serif;
}

div{
	padding-top: .25em;
	padding-bottom: .25em;
	padding-right: 2em;
	padding-left: 2em;
}

#start {
	padding-top: 75px;
}

#desc {
	background-color: rgb(104, 185, 255);
	color: white;
}

.name{
	font-family: 'Raleway';
}

.title{
	font-family: 'Raleway';
	font-size: 1.6em;
}

.author{
	font-family: 'Raleway';
	font-size: 1.2em;
}

.lang{
	font-size: 1em;
}

.size{
	font-size: 1em;
}

.recieved{
	font-size: 1em;
}

.needed{
	font-size: 1em;
}

#logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    height: auto;
}



/* navbar items */

ul.navbar {
    overflow: hidden;
    background-color: rgb(104, 185, 255);
	position: fixed;
    top: 0;
	left: 0;
    width: 100%;
}

li.navbar {
    float: left;
}

li.navbar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color: white;
}

li.navbar a:hover {
    background-color: rgb(57, 157, 255);
}