/* CSS Document */


#header #smallTitle {
}

#header #search {
}


/* Adds a scrollbar to the list */

#content {
    overflow-y: scroll;
}

/* Positions the header at 0, 0 with a width matching the device and a fixed position*/

#header {
	left: 0;
	top: 0;
	width: 100vw;
	position: relative;
}

/* Center class centers items */

.center {
	text-align: center;
}

/* Remove pagewide scrollbar and page margins */

html, body {
	overflow-y: hidden;
	margin: 0;
}

/* navbar items */

ul.navbar {
    overflow: hidden;
    background-color: rgb(104, 185, 255);
    top: 0;
	left: 0;
    width: 100%;
}

li.navbar {
    float: left;
}

li.navbar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color: white;
}

li.navbar a:hover {
    background-color: rgb(57, 157, 255);
}

/* Removes bullet points from ul, and removes indentation */

ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

/* Formats small logo correctly */

.logosmall {
    margin-left: auto;
    margin-right: auto;
    height: 3em;
	width: auto;
	vertical-align: middle;
}